a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
}

.jokePageLink{
  text-decoration: none;
  text-align: center;
  display: inline;
}


.row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.wynJokeContainer h1{
  font-family: helvetica;
}

.wynJokeContainer {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.wynJoke {
  background: tomato;
  padding: 5px;
  width: 600px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

#browserDiv{
text-align: center;
}

#jokeLink{
  color: white;
  padding: 20px;
}
